<!DOCTYPE html>
<html lang="en" style="font-size: 100px;">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" href="../assets/imgs/pp.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="../assets/imgs/pp.ico" type="image/x-icon" />
	<title>
		h5 test
  </title>
  <style>
    body{
      font-size: 14px;
    }
    h1{
      font-size: .14rem;
      color: purple;
    }
  </style>
</head>

<body>
</body>

</html>
